<!DOCTYPE html>  
<html
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
    xmlns:h="http://xmlns.jcp.org/jsf/html" 
    xmlns:f="http://xmlns.jcp.org/jsf/core" 
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"> 
    
    <h:form>
            <h:outputLabel for="login">Nom dutilisateur <span class="requis">*</span></h:outputLabel>
	        <h:inputText id="login" value="#{userMB.user.login}" required="true"/>
	        <h:message id="loginMessage" for="login" errorClass="erreur" />
	        <br />
	        
         	<legend>Inscription</legend>
	     	<h:outputLabel for="email">Adresse email <span class="requis">*</span></h:outputLabel>
	        <h:inputText id="email" value="#{userMB.user.email}" required="true"/>
	        <h:message id="emailMessage" for="email" errorClass="erreur" />
	        <br />
	
	        <h:outputLabel for="motdepasse">Mot de passe <span class="requis">*</span></h:outputLabel>
	        <h:inputSecret id="motdepasse" value="#{userMB.user.password}" required="true"/>
	        <h:message id="motDePasseMessage" for="motdepasse" errorClass="erreur" />
	        <br />
	
	        <h:outputLabel for="confirmation">Confirmation du mot de passe <span class="requis">*</span></h:outputLabel>
	        <h:inputSecret id="confirmation" required="true"/>
	        <h:message id="confirmationMessage" for="confirmation" errorClass="erreur" />
	        <br />
	        
	        <h:outputLabel for="role">Sélectionner un rôle <span class="requis">*</span></h:outputLabel>
	        <h:selectOneMenu value = "#{userMB.user.role}" id="role"> 
	   			<f:selectItems value="#{userMB.roles}" var="r" itemLabel="#{r.nom}" itemValue="#{r}" /> 
			</h:selectOneMenu> 
	        <h:messages globalOnly="true" infoClass="info" />
	        <br />
	
		    <h:commandButton value="Créer un utilisateur" action="#{userMB.ajouterUser}" styleClass="sansLabel" />
	        <br />
        </h:form> 	
 
</html>
