<!DOCTYPE html>  
<html
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
    xmlns:h="http://xmlns.jcp.org/jsf/html" 
    xmlns:f="http://xmlns.jcp.org/jsf/core" 
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns="http://www.w3.org/1999/xhtml"  >
    
 <h:form id="form">
 <h:commandLink value="créer un utilisateur" action="#{userMB.create}"></h:commandLink>
    <h:dataTable value="#{userMB.users}" var="user" >
        <f:facet name="header">
           Liste des Utilisateurs 
        </f:facet>
          <h:column headerText="Login">
            <h:outputText value="#{user.login}" />
        </h:column>
        <h:column headerText="Email">
            <h:outputText value="#{user.email}" />
        </h:column>
         <h:column headerText="Role">
            <h:outputText value="#{user.role.nom}" />
        </h:column>
        <h:column>
            <h:commandButton value="voir" action="#{userMB.show(user)}"/>
        </h:column>
        <h:column>
            <h:commandButton value="supprimer" action="#{userMB.delete(user)}"/>
        </h:column>        
	</h:dataTable>
</h:form>
 
</html>
