<!DOCTYPE html>  
<html
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
    xmlns:h="http://xmlns.jcp.org/jsf/html" 
    xmlns:f="http://xmlns.jcp.org/jsf/core" 
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns="http://www.w3.org/1999/xhtml"  >

<f:metadata>
    <f:viewParam name="user" value="#{userMB.showUser}" required="true" requiredMessage="user needed"/>
</f:metadata>


<h:outputText value="#{userMB.showUser.login}" />
<h:outputText value="#{userMB.showUser.role.nom}" />

</html>